colorama==0.4.6
Django==2.1.5
exceptiongroup==1.2.0
gunicorn==21.2.0
importlib-metadata==6.7.0
iniconfig==2.0.0
packaging==24.0
Pillow==9.4.0
pip==22.0.4
pluggy==1.4.0
pytest==8.1.1
pytz==2024.1
setuptools==58.1.0
tomli==2.0.1
typing_extensions==4.7.1
whitenoise==6.6.0
wincertstore==0.2
zipp==3.15.0
